<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>You've been invited to play in <%= @game.name %>!</h1>
  <p><%= @game.owner.display_name %> has invited you to play <%= @character.name %> in <%= @game.name %>.</p>
</body>
</html>
